openapi: "3.1.1"
info:
  version: "1.0.0"
  title: "JVM Data API"
  description: "JVM Data of various JVM distributions"
  contact:
    name: "roele"
    url: "https://roele.dev"
servers:
  - url: "https://mise-java.jdx.dev"
  #- url: "https://d2177wdtr9qui6.cloudfront.net"
tags:
  - name: "releaseType"
    description: Type of the JVM release (e.g., GA, EA).
paths:
  /jvm/{releaseType}/{operatingSystem}/{architecture}.json:
    get:
      operationId: "findByReleaseTypeOsArch"
      description: "Find JVM releases by release type, operating system, and architecture"
      tags:
        - "releaseType"
      parameters:
        - in: "path"
          name: "architecture"
          required: true
          schema:
            $ref: '#/components/schemas/architectures'
        - in: "path"
          name: "operatingSystem"
          required: true
          schema:
            $ref: '#/components/schemas/operatingSystems'
        - in: "path"
          name: "releaseType"
          required: true
          schema:
            $ref: '#/components/schemas/releaseTypes'
      responses:
        '200':
          description: "JVM data for the specified release type, operating system, and architecture"
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/response'
        '404':
          description: "Not found"
          content:
            "text/html":
              schema:
                type: "string"
components:
  schemas:
    architectures:
      type: "string"
      description: "Architecture of the JVM"
      enum:
        - "aarch64"
        - "arm32"
        #- "arm32-vfp-hflt"
        - "i686"
        #- "ppc32"
        #- "ppc32hf"
        #- "ppc32spe"
        #- "ppc64"
        #- "s390"
        #- "s390x"
        #- "sparc"
        #- "riscv64"
        - "x86_64"
    image_types:
      type: "string"
      description: "Image type of the JVM"
      enum:
        - "jdk"
        - "jre"
    jvm_impls:
      type: "string"
      description: "Implementation of the JVM"
      enum:
        - "graalvm"
        - "hotspot"
        - "openj9"
    operatingSystems:
      type: "string"
      description: "Operating system of the JVM"
      enum:
        #- "aix"
        - "alpine-linux"
        - "linux"
        - "macosx"
        #- "solaris"
        - "windows"
    releaseTypes:
      type: "string"
      description: "Release type of the JVM"
      enum:
        - "ea"
        - "ga"
    vendors:
      type: "string"
      description: "Vendor of the JVM"
      enum:
        - "corretto"
        - "dragonwell"
        - "graalvm"
        - "jetbrains"
        - "kona"
        - "liberica"
        - "liberica-nik"
        - "mandrel"
        - "microsoft"
        - "openjdk"
        - "oracle"
        - "oracle-graalvm"
        - "redhat"
        - "sapmachine"
        - "semeru"
        - "temurin"
        - "trava"
        - "zulu"
    jvm_data:
      type: "object"
      additionalProperties: false
      required:
        - checksum
        - features
        - file_type
        - image_type
        - jvm_impl
        - url
        - vendor
        - version
      properties:
        architecture:
          $ref: '#/components/schemas/architectures'
        checksum:
          description: "Checksum of the artefact"
          type: "string"
          pattern: '^(md5:[a-fA-F0-9]{32}|sha1:[a-fA-F0-9]{40}|sha256:[a-fA-F0-9]{64}|sha512:[a-fA-F0-9]{128})$'
        checksum_url:
          description: "URL to download the checksum"
          type: "string"
          format: uri
        features:
          description: "Features of the artefact (e.g. javafx, musl, etc.)"
          type: "array"
          items:
            type: "string"
        file_type:
          description: "File type of artefact (e.g. tar.gz, zip, pgk, etc.)"
          type: "string"
        filename:
          description: "Filename of the artefact"
          type: "string"
        image_type:
          $ref: '#/components/schemas/image_types'
        java_version:
          description: "Java version of the JVM"
          type: "string"
        jvm_impl:
          $ref: '#/components/schemas/jvm_impls'
        os:
          $ref: '#/components/schemas/operatingSystems'
        releaseType:
          $ref: '#/components/schemas/releaseTypes'
        size:
          description: "Size of the artefact in bytes"
          type: "number"
        url:
          description: "URL to download the artefact"
          type: "string"
          format: uri
        vendor:
          $ref: '#/components/schemas/vendors'
        version:
          description: "Version of the JVM"
          type: "string"
    response:
      type: array
      items:
        $ref: '#/components/schemas/jvm_data'
